<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Product</title>
  <link rel="stylesheet" type="text/css" href="/css/editCategoriesProducts.css" />
  <script src="/js/main-scripts.js"></script>
</head>
<body>
<div th:replace="header.html :: headerFragment"></div>
<div class="newCategory" sec:authorize="hasAuthority('ADMIN')">
  <h2 class="newCategory-header">Edit product</h2>
  <div class="alert alert-danger">
    <ul>
      <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
    </ul>
  </div>
  <form class="newCategory-container" th:action="@{/api/products/update/{id}(id=${productDTO.idProduct})}" method="post">
    <p>Name<label>
      <input th:value="${productDTO.nameProduct}"  type="text" placeholder="Name Product" name="nameProduct" required pattern="[A-Za-z0-9 ]{2,}" title="Product name must be at least 2 characters long and only contain letters, numbers, and spaces.">
    </label></p>
    <p>Desription<label>
      <input th:value="${productDTO.description}"  type="Description" placeholder="description" name="description" required>
    </label></p>
    <p>Price<label>
      <input th:value="${productDTO.price}"  type="number" placeholder="price" name="price" required min="0" step="0.01" title="Price must be a number.">
    </label></p>
    <p>Category ID<label>
      <input th:value="${productDTO.categoryId}"  type="number" placeholder="categoryId" name="categoryId" required min="1" title="Category ID must be a positive number.">
    </label></p>
    <div class="button-container">
      <p><input type="submit" value="Edit"></p>
      <p><button type="button" onclick="location.href='/api/listProducts'">Cancel</button></p>
    </div>

  </form>
</div>
<div sec:authorize="!hasAuthority('ADMIN')">
  <p>You do not have permission to view this page.</p>
</div>
<div th:replace="footer.html :: footerFragment"></div>
</body>
</html>